/* CEOProfil.css */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* pour centrer verticalement */
  /* pour centrer horizontalement */
  width: 100%;
  height: 98vh; /* ajustez selon vos besoins */
  font-family: "Kumbh Sans";
}

.ceo-profile {
  padding: 20px;
  justify-content: flex-start;
  flex-grow: 1;
  width: 70%;
  background-color: #b7d6ed;
  height: 93vh;
  font-family: "Kumbh Sans";
}

.tasks-container {
  display: flex;
  justify-content: space-between;
  border: none; /* Ajout d'une bordure autour du conteneur des tâches */
  position: relative;
  height: 80vh;
  background-color: white;
  margin: 30px;
}

.tasks {
  width: 50%; /* Modification de la largeur pour tenir compte de la bordure */
  /* Ajout d'une bordure entre les colonnes de tâches */
}

.task {
  background-color: lightblue;
  padding: 2px;
  margin: 20px;
  /* Ajout d'une bordure autour des tâches individuelles */
  border-radius: 5px;
}

.finished .task {
  background-color: lightblue;
}

.in-progress {
  border-right: 1px solid black;
}

h2 {
  color: white;
  background-color: darkblue; /* Ajout d'un fond pour les en-têtes */
  margin: 0px; /* Suppression des marges pour les en-têtes */
  padding: 5px; /* Ajout d'un peu de padding pour les en-têtes */
  height: 15%;
  align-items: center;
  justify-content: center;
  display: flex;
}

h1 {
  text-align: center;
  color: #082247;
  font-size: xx-large;
}

.fini {
  /* Change la couleur du texte en rouge, par exemple */
  background-color: rgba(
    11,
    42,
    135,
    0.58
  ); /* Ajustez la taille de la police selon vos besoins */
  /* Autres styles CSS que vous souhaitez appliquer */
}

.accept-button {
  background-color: green;
  color: black;
  border: 1px solid black;
  cursor: pointer; /* Pour changer le curseur en main lorsque vous survolez le bouton */
  border-radius: 40px; /* Pour avoir des coins arrondis sur le bouton */

  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  font-size: 13px;
  margin: 5px;
  font-family: "Kumbh Sans";
  /* Autres styles selon vos besoins */
}

.refuse-button {
  background-color: red;
  color: black;
  border: 1px solid black;
  cursor: pointer; /* Pour changer le curseur en main lorsque vous survolez le bouton */
  border-radius: 40px; /* Pour avoir des coins arrondis sur le bouton */

  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  font-size: 18px;
  margin: 5px;
  font-family: "Kumbh Sans";
  /* Autres styles selon vos besoins */
}

.action-button {
  background-color: rgba(255, 255, 0, 0.237);
  color: black;
  border: none;
  cursor: pointer; /* Pour changer le curseur en main lorsque vous survolez le bouton */
  border-radius: 40px; /* Pour avoir des coins arrondis sur le bouton */

  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  font-size: 15px;
  margin: 5px;
  /* Autres styles selon vos besoins */
}

.buttons-container {
  position: relative;
  bottom: 0px;
  /* left: 170px; */
  display: flex;
  gap: 10px; /* Ajoutez un espace entre les boutons */
}

.task1 {
  background-color: lightblue;
  padding: 2px;
  margin: 20px;
  /* Ajout d'une bordure autour des tâches individuelles */
  border-radius: 5px;
  display: flex; /* Fait de .task un conteneur flex */
  justify-content: space-between; /* Met de l'espace entre les éléments enfants */
  align-items: center;
}

.statuss {
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  color: white;
  background-color: #b9b9b9;
  font-family: "Kumbh Sans";
  margin-right: 10px;
}
