/*body, html {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  background-color: rgba(0, 88, 139, 0.555);
  ;
}

.logo-bar {
  background-color: rgba(0, 88, 139, 0.685);
  color: white;
  padding: 10px;
  width: 150vh ; 
  height: 10%;
  border-radius: 0; 
  margin-bottom: 10px; 
}

.logo {
  margin: 10px;
  font-size: 48px;
  text-align: center; 
}*/


.App {
  display: flex;

  /* autres styles */
}
.main-content {
  flex-grow: 1;
  background-color: #b7d6ed;
  width: 70%;

  /* Ceci permet au contenu principal de prendre toute la largeur restante */
}

.logo-bar {
  text-align: center;
  margin: 0px;
  /* Pour ajouter un peu d'espace entre le titre et le contenu suivant */
}

.logo {
  font-size: 36px; /* Vous pouvez ajuster la taille selon vos besoins */
  font-weight: bold; /* Pour rendre le texte en gras */
  color: #333;
  font-family: "Kumbh Sans" sans-serif;
  width: 700px;
  height: 150px;
  /* Vous pouvez choisir la couleur que vous préférez */
}

.titre {
  font-size: 28px; /* Ajustez la taille selon vos besoins */
  text-align: left;
  margin-left: 60px; /* Ajustez la marge selon vos besoins pour aligner le texte à gauche */
  color: #305E7E;
  border-bottom: 1px solid white; /* Ajoute une bordure en bas de l'élément */
  padding-bottom: 10px; /* Ajoute un espace en dessous du texte et au-dessus de la ligne */
  margin-bottom: 50px;
  font-family: "Kumbh Sans";
  font-weight: 510;
  /* Choisissez la couleur que vous préférez */
}
.wallet {
  font-size: 28px; /* Ajustez la taille selon vos besoins */
  text-align: left;
  margin-left: 60px; /* Ajustez la marge selon vos besoins pour aligner le texte à gauche */
  color: #305E7E;
  border-bottom: 1px solid white; /* Ajoute une bordure en bas de l'élément */
  padding-bottom: 10px; /* Ajoute un espace en dessous du texte et au-dessus de la ligne */
  margin-bottom: 50px;
  font-family: "Kumbh Sans";
  font-weight: 510;
  /* Choisissez la couleur que vous préférez */
}

/* Le conteneur des DIO, si vous en avez un */
.DIOList-container {
  margin-left: 20px; /* Ajustez selon vos besoins */
}

/* Style pour chaque DIO */
.DIO-item {
  background-color: white;
  padding: 20px; /* Espace à l'intérieur des rectangles */
  margin-bottom: 15px; /* Espace entre les rectangles */
  border: 1px solid #ccc; /* Bordure autour des rectangles */
  border-radius: 5px; /* Coins arrondis */
}
