/* CEOProfil.css */
.container1 {
  display:flex;
  height: 832px; /* ajustez selon vos besoins */
}

.execution-board {
  position: relative;
  width: 100%;
  height: 100px; /* exemple de hauteur, ajustez selon vos besoins */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Kumbh Sans', sans-serif;
  margin-top: 18px;

}
.execution-board h1{
  color: #305E7E;
}


.execution-container {
  display: flex;
  justify-content: space-between;
  border: none; /* Ajout d'une bordure autour du conteneur des tâches */
  position: relative;
  background-color: white;
  height: 650px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
}

.scroll {
  height: 430px; /* ou tout autre valeur selon votre conception */
  overflow-y: auto;
  width: 100%;
  margin-top: 50px;
  
}

.executions {
  width: 50%;
  height: 100%; 
  /* Modification de la largeur pour tenir compte de la bordure */
  /* Ajout d'une bordure entre les colonnes de tâches */
}

.execution {
  background-color: #a6a7a8;
  height: 20%;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  color: black;
  font-family: 'Kumbh Sans', sans-serif;
  margin-top: 5%;
}

.execution .description{
  margin-left: 7%;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: x-large;

}

.executions .DIO {
  background-color: lightblue;
}
.executions .DIO2 {
  background-color: lightblue;
}

.my {
  border-right: 1px solid black;
  color: white; 
}
.my h2{
  background-color:  #082247;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 34px;
  font-weight: 450;
}

.DIO h2{
  background-color:  #58BADA;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 34px;
  font-weight: 450;
  ;
}
.DIO2 h2{
  background-color:  #58BADA;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 34px;
  font-weight: 450;
  ;
}

h2 {
  color: white;
  background-color: #082247; /* Ajout d'un fond pour les en-têtes */
  margin: 0px; /* Supprssion des marges pour les en-têtes */
  padding: 5px; /* Ajout d'un peu de padding pour les en-têtes */
  height: 15%;
  align-items: center;
  justify-content: center;
  display: flex;
}

h1 {
  text-align: center;
  color: #082247;
  font-size: xx-large;
}

.fini {
  /* Change la couleur du texte en rouge, par exemple */
  background-color:  #58BADA;
  ; /* Ajustez la taille de la police selon vos besoins */
  /* Autres styles CSS que vous souhaitez appliquer */
}
.fini2{
  background-color:  #58BADA;
}

.acceptbutton {
  background-color: #082247;
  color: black;
  border: none;
  cursor: pointer; /* Pour changer le curseur en main lorsque vous survolez le bouton */
  border-radius: 40px; /* Pour avoir des coins arrondis sur le bouton */

  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  font-size: 20px;
  margin: 5px;
  border: 1px solid black;
  background-color: #aad9db;
  /* Autres styles selon vos besoins */
}

.buttons-container {
  position: relative;
  bottom: 0px;
  left: 0px;
}
.buttons-container .deadline  {
  margin-left: 50%;
  font-size: 80%;
}

.buttons-container button {
  background-color:  #DDC7C7;
  margin-left: 5%;
  margin-top: 3%;
  height: 5vh;
}


.thanks-button {
  background-color: #ddc7c7;
  color: black;
  border: none;
  cursor: pointer; /* Pour changer le curseur en main lorsque vous survolez le bouton */
  border-radius: 40px; /* Pour avoir des coins arrondis sur le bouton */

  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  font-size: 20px;
  margin: 5px;
  border: 1px solid black;
  /* Autres styles selon vos besoins */
}

.evaluation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: white ;
  border-radius: 20px;
  width: 120vh;
  height: 80vh;
  margin: 0 auto;
  font-family: 'Kumbh Sans', sans-serif;
}

.evaluation-textarea{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: rgb(211, 208, 208);
  border-radius: 20px;
  width: 50%;
  height: 20%;
  margin: 0 auto;
  font-family: 'Kumbh Sans', sans-serif;
  color: black;
  
}

.evaluation-textarea .placeholder {
  color: black;
  align-items: left ;
}
.evaluation-container h2 {
  margin-top: 10vh;
  font-size: 30px;
  margin-bottom: 30px;
  background-color: white;
  color: black;
}

.evaluation-button1 {
  background-color: #a8d5e2;
  border: none;
  border-radius: 25px;
  color: black;
  padding: 10px 30px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  width: 20%;
  margin-left: 50%;
}

.evaluation-button {
  background-color:  #92C5BB;
  border: none;
  border-radius: 25px;
  color: white  ;
  padding: 10px 30px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  width: 50%;
}

.congratulations{
  display: flex;
  flex-direction: row;
  width: 110%;
}
.righthand{
  margin-left: 10%;
  width: 50%;
  height: 30vh;
  margin-top: 10%;
}
.lefthand{
  margin-right: 10%;
  width: 50%;
  height: 30vh;
  margin-top: 10%;
}

.backtofeed-button {
  background-color:  #92C5BB;
  border: none;
  border-radius: 25px;
  color: black  ;
  cursor: pointer;
  font-size: 150%;
  font-weight: 500;
  transition: 0.3s;
  width: 200%;
  height: 10vh;
  font-family: 'Kumbh Sans', sans-serif;
  margin-top: 20%;
}


.evaluation-button:hover {
  background-color: #8bc4d0;
}

.evaluation-container h1 {
  margin-top: 30vh;
  font-size: 43px;
  font-weight: 500; /* Adjust this to your preferred size */
  color: black;
  margin-bottom: 30px;
  text-align: center; /* Centering the text */
}

.evaluation-container p {
  font-size: 30px; /* Adjust this to your preferred size */
  color: black;
  font-weight: 400;
  text-align: center; /* Centering the text */
  margin-bottom: 10px; /* Adjust this for spacing between the <p> tags */
}

/* If you specifically want to target the last <p> tag and change its size: */
.evaluation-container p:last-child {
  font-size: 35px; /* Adjust this to your preferred size */
  font-weight: bold; /* Making the font bold */
}

.evaluation-container1 h1 {
  margin-top: 30vh;
  font-size: 45px; /* Adjust this to your preferred size */
  color: #333;
  margin-bottom: 30px;
  text-align: center; /* Centering the text */
}

.evaluation-container1 p {
  font-size: 35px; /* Adjust this to your preferred size */
  color: #555;
  text-align: center; /* Centering the text */
  margin-bottom: 10px; /* Adjust this for spacing between the <p> tags */
}

/* If you specifically want to target the last <p> tag and change its size: */
.evaluation-container1 p:last-child {
  font-size: 35px; /* Adjust this to your preferred size */
  font-weight: bold; /* Making the font bold */
}

.review-container {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: #f7f7f7;
  border-radius: 20px;
  width: 120vh;
  height: 80vh;
  margin: 0 auto;
}

.peer-review-container {
  margin-top: 15vh;
}

.peer-review-container > *:not(:last-child) {
  /* Targets every child except the last one */
  margin-bottom: 12vh; /* Adds space below each child */
}

.rating-section {
  align-items: center;
  justify-content: center;
}

.rating-section p,
.rating-section div {
  align-items: center;
  justify-content: center;
}


.buttons-container {
  position: relative;
  bottom: 0px;
  /* left: 170px; */
  display: flex;
  gap: 10px; /* Ajoutez un espace entre les boutons */
}

.task1 {
  background-color: lightblue;
  padding: 2px;
  margin: 20px;
  /* Ajout d'une bordure autour des tâches individuelles */
  border-radius: 5px;
  display: flex; /* Fait de .task un conteneur flex */
  justify-content: space-between; /* Met de l'espace entre les éléments enfants */
  align-items: center;
}

.statuss {
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  color: white;
  background-color: #b9b9b9;
  font-family: "Kumbh Sans";
  margin-right: 10px;
}


.scroll {
  margin-top: 50px;
  height: 430px; /* ou tout autre valeur selon votre conception */
  overflow-y: auto;
  width: 100%;
}

.scroll::-webkit-scrollbar {
  width: 1px; /* Largeur de la barre de défilement */
}

.scroll::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* Couleur de fond de la barre */
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #a9a9a9; /* Couleur du curseur de défilement */
  border-radius: 4px; /* Arrondir les bords du curseur */
}

.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #696969; /* Couleur du curseur lors du survol */
}