.App {
  display: flex;
  height: 832px;

  /* autres styles */
}

.logo-bar {
  position: relative;
  width: 100%;
  height: 100px; /* exemple de hauteur, ajustez selon vos besoins */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Kumbh Sans', sans-serif;
  margin-top: 18px;
}


.messaging-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
  background-color: white;
  /* ajustez selon vos besoins */
  /* ajustez selon vos besoins */
}


.messages {
  background-color: white;
  padding: 20px; /* Espace à l'intérieur des rectangles */
  /* Espace entre les rectangles */
  /* Bordure autour des rectangles */
  border-radius: 5px; /* Coins arrondis */
  width: 93%;
  margin: auto;
  /* pour centrer horizontalement */
}

.message.bubble {
  background-color: #5CB7BBA3; /* couleur du fond d'écran */
  border-radius: 15px;
  margin: 20px; /* arrondit les coins */
  margin-bottom: 30px; /* espace entre les messages */
  padding: 30px; /* espace à l'intérieur des bulles de message */
  color: black;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px ;
  /* couleur du texte pour une meilleure visibilité sur le fond bleu */
}

.message.button {
  background-color: rgb(255, 255, 255); /* couleur du fond d'écran */
  border-radius: 5px;
  margin: 5px; /* arrondit les coins */
  padding: 5px; /* espace à l'intérieur des bulles de message */
  color: rgb(
    0,
    0,
    0
  ); /* couleur du texte pour une meilleure visibilité sur le fond bleu */
}

.message.button {
  background-color: rgb(255, 255, 255); /* couleur du fond d'écran */
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  color: rgb(0, 0, 0);
  position: relative;
}

.input-container {
  position: relative;

  background-color:  #082247;
  ;
  padding: 20px; /* Espace à l'intérieur des rectangles */
  margin-left: 30px;
  margin-right: 30px;
  height: auto;
  /* pour centrer horizontalement */
}

.input-submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color:  #5CB7BBA3;
  padding: 20px; /* Espace à l'intérieur des rectangles */
  /* Espace entre les rectangles */
  /* Bordure autour des rectangles */
  /* Coins arrondis */
  width: 90%;
  height: 20px;
  border-radius: 20px;
  margin: auto;
  /* pour centrer horizontalement */
}

.message-input {
  flex-grow: 2; /* Cela permettra aux deux éléments de prendre autant d’espace que possible */
  padding: 15px; /* Ajoute du remplissage pour augmenter la taille des éléments */
  background-color: transparent; /* Ajustez la couleur de fond selon vos besoins */
  color: white; /* Ajustez la couleur du texte selon vos besoins */
  border: none;
  font-size: large; /* Supprime la bordure, ajustez selon vos besoins */
}

::placeholder {
  color: rgb(210, 210, 210);
}

.send-button {
  /* Supprime la bordure, ajustez selon vos besoins */
  width: 18%;
  padding: 15px 15px;
  font-size: 15px; /* Ajustez la taille de la police si nécessaire */
  border: none; /* Pour supprimer la bordure par défaut des boutons */
  background-color: white; /* Pour changer la couleur de fond du bouton */
  color: black; /* Pour changer la couleur du texte du bouton */
  cursor: pointer; /* Pour changer le curseur en main lorsque vous survolez le bouton */
  border-radius: 40px;
  font-weight: bold;
}

.send-button:hover{
  background-color: gray;
  color: black;
}

.submition-pop-up {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(114, 114, 114, 0.8);
  width: 350px;
  height: 150px;
  border-radius: 10px;
  padding: 20px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.submitButton {
  background-color:  #305E7E;
  ;
  border: none;
  color: white;
  /* padding: 15px 32px; */
  width: 300px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  font-family: 'Kumbh Sans', sans-serif;
}
.submitButton:hover {
  color: white; /* Change the color on hover (replace 'red' with your desired color) */
  background-color: gray; /* Ensuring the background stays transparent on hover */
}

.scroll {
  margin-top: 50px;
  height: 430px; /* ou tout autre valeur selon votre conception */
  overflow-y: auto;
  width: 100%;
}

.scroll::-webkit-scrollbar {
  width: 1px; /* Largeur de la barre de défilement */
}

.scroll::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* Couleur de fond de la barre */
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #a9a9a9; /* Couleur du curseur de défilement */
  border-radius: 4px; /* Arrondir les bords du curseur */
}

.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #696969; /* Couleur du curseur lors du survol */
}

.h1 {
  text-align: center;
  color: white;
  font-size: xx-large;
  justify-content: center;
  margin: 10px;
}


.logo-bar h1 {
  color: #305E7E;
}


h1,
.thanks {
  margin: 2px;
}

.thanks {
  display: flex;
  align-items: center; /* s'assure que le texte et l'image sont alignés verticalement */
  font-size: 25px; /* taille du texte "0" */
  position: absolute;
  top: 30px;
  right: 60px;
  color: #305E7E;
}

.symbole {
  width: 40px; /* largeur de l'image */
  height: 40px; /* hauteur de l'image */
  margin-left: 5px; /* espace entre le texte "0" et l'image */
}


.submition-pop-up-work {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 40%;
  height: 50vh;
  border-radius: 10px;
  padding: 20px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.submition-pop-up-work input{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: rgb(211, 208, 208);
  border-radius: 20px;
  width: 70%;
  height: 10%;
  margin: 0 auto;
  font-family: 'Kumbh Sans', sans-serif;
  color: black;
  
}



.submition-pop-up-work h2{
  background-color: transparent;
  color: black;
  font-family: 'Kumbh Sans', sans-serif;
  margin-right: 60%;
  font-size: 200%;
  font-weight: 200%;
}


.submition-pop-up-work-ceo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 70%;
  height: 50vh;
  border-radius: 10px;
  padding: 20px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}


.submition-pop-up-work-ceo input{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: rgb(211, 208, 208);
  border-radius: 20px;
  width: 60%;
  height: 10%;
  margin-left: 30%;
  margin: 0 auto;
  font-family: 'Kumbh Sans', sans-serif;
  color: black;
}

.submition-pop-up-work-ceo input::placeholder{
  color: black;
  margin-left: 60%;
}

.submition-pop-up-work-ceo.evaluation-textarea .placeholder {
  color: black;
  align-items: left ;
  width: 70%;
  height: 10%;
}

.submition-pop-up-work-ceo h2{
  background-color: transparent;
  color: black;
  font-family: 'Kumbh Sans', sans-serif;
  margin-right: 60%;
  font-size: 200%;
  font-weight: 200%;
}


.container-button-ceo{
  display: flex;
  justify-content: space-around;
}

.container-button-ceo .button1{
  display: flex;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 5%;
  width: 100%;
  height: 5vh;
  background-color: #B7D6ED;
  border-radius: 20px;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden;
}

.container-button-ceo .button2{
  display: flex;
  justify-content: space-around;
  margin-left: 5%;
  margin-right: 5%;
  width: 100%;
  height: 5vh;
  background-color: #F6B5B5;
  border-radius: 20px;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden;
}

.container-button-ceo .button3{
  display: flex;
  justify-content: space-around;
  margin-left: 5%;
  margin-right: 10%;
  width: 100%;
  height: 5vh;
  background-color:  #248D3573;
  border-radius: 20px;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: grey;
  margin-right: 5px;
}

.input-circle{
  display: flex;
  justify-content: space-around;
}

.span{
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  margin-top: 5%;
}

.span-text{
  margin-left: 1%;
  width: 100%;
}

.files{
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}